# =============================================================
#  HAProxy Load Balancer — Systeme de Messagerie BGH
#  Protocoles : SMTP (TCP), POP3 (TCP), IMAP (TCP)
#  Strategie : Round Robin
#
#  Instances backend par protocole :
#    SMTP  : Instance 1 port 2526, Instance 2 port 2527
#    POP3  : Instance 1 port 1111, Instance 2 port 1112
#    IMAP  : Instance 1 port 1431, Instance 2 port 1432
#
#  Ports frontaux (vus par les clients) :
#    SMTP  -> :25
#    POP3  -> :110
#    IMAP  -> :1430
# =============================================================

# -------------------------------------------------------
#  Configuration globale
# -------------------------------------------------------
global
    log         127.0.0.1 local0
    log         127.0.0.1 local1 notice
    maxconn     4096
    daemon

# -------------------------------------------------------
#  Valeurs par defaut pour tous les fronts/backends
# -------------------------------------------------------
defaults
    log         global
    mode        tcp
    option      tcplog
    option      dontlognull
    retries     3
    timeout connect  5s
    timeout client   30s
    timeout server   30s

# -------------------------------------------------------
#  Page de statistiques HAProxy (http://localhost:8404)
# -------------------------------------------------------
listen stats
    bind    *:8404
    mode    http
    stats   enable
    stats   uri /stats
    stats   refresh 5s
    stats   show-legends
    stats   show-node

# =============================================================
#  FRONTEND SMTP (port 25) -> distribue vers 2 instances SMTP
# =============================================================
frontend smtp_front
    bind        *:25
    default_backend smtp_back

backend smtp_back
    balance     roundrobin
    option      tcp-check
    server      smtp1 127.0.0.1:2526 check inter 2s rise 2 fall 3
    server      smtp2 127.0.0.1:2527 check inter 2s rise 2 fall 3

# =============================================================
#  FRONTEND POP3 (port 110) -> distribue vers 2 instances POP3
# =============================================================
frontend pop3_front
    bind        *:110
    default_backend pop3_back

backend pop3_back
    balance     roundrobin
    option      tcp-check
    server      pop3_1 127.0.0.1:1111 check inter 2s rise 2 fall 3
    server      pop3_2 127.0.0.1:1112 check inter 2s rise 2 fall 3

# =============================================================
#  FRONTEND IMAP (port 1430) -> distribue vers 2 instances IMAP
# =============================================================
frontend imap_front
    bind        *:1430
    default_backend imap_back

backend imap_back
    balance     roundrobin
    option      tcp-check
    server      imap_1 127.0.0.1:1431 check inter 2s rise 2 fall 3
    server      imap_2 127.0.0.1:1432 check inter 2s rise 2 fall 3
